.banner{
	background: linear-gradient(rgba(0, 0, 0, .5),rgba(0, 0, 0, .5)), url('../../img/carousel2.jpg') center 
	fixed no-repeat;
	background-size: cover;
	height: 300px;

}

.carousel-item{
	background: linear-gradient(rgba(0, 0, 0, .5),rgba(0, 0, 0, .5)), url('../../img/carousel2.jpg') center 
	fixed no-repeat;
	background-size: cover;
	height: 300px;
}

label {
    font-weight: bold;
}

.nav-link{
	float: left;

}

.navbar{
	background-color: #d61053;
}

.table{
	background-color: #d61053;
}








body{
	background-color:#999;
	margin-left: auto;

}

/*.banner{
	background: linear-gradient(rgba(0, 0, 0, .5),rgba(0, 0, 0, .5)), url('../../img/bus2.jpg') center 
 		fixed no-repeat;
 	background-size: cover;
	height: 200px;
}*/

.soukhouna{
	display: flex;
	background: #e9e0cf;
	background: #d61053;
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 10);
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 10);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 10);
	-ms-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 10);
	-o-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 10); 
}

.soukhouna{
	width: 100%;
}

label {
    font-weight: bold;
}

.main-page{
	/*display: inline-block;*/
 	background: #e9e0cf;
}

.nav-link{
	float: left;
}

.navbar{
	background-color: #d61053;
}

.badge{
	background: #d61053;
}

